@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  @apply outline-indigo-500
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

body {
  @apply text-white bg-gradient-to-r from-violet-600 to-indigo-600
}

input {
  @apply text-black p-1
}
